[all, first, all-childs, first-childs, all-below, first-below] with [tag, attr] [value]
  > (list) all   = all
  | (list) first = all && first
  | (any)  all-childs   = get list child && all
  | (any)  first-childs = get list child && all && first
  | (any)  all-below    = go down forever >> get list child && all
  | (any)  first-below  = go down forever >> get list child && all && first

[get] [first, list, text, class, attr] [value]?
  > (any)  [get] [list, class, attr] [value]
  | (any)  [get] [text]
  | (list) [get] [first]

const instructionParse = [
  { type: 'get', regex: /^get[\t ]+(first|list|text|class|attr)(?:[\t ]+\'([\w\W]+)\')?$/i },
  { type: 'with', regex: /^(all|first|all-childs|first-childs|all-below|first-below)[\t ]+with[\t ]+(tag|text|class|attr)[\t ]+\'([\w\W]+)\'$/i }
]

const query = {
  video: `
    all with tag 'video'
    get attr 'src'
    get first`,
  text: `
    first with tag 'title'        = all with tag 'title' && get first
    first-below with attr 'text'  = get attr 'childs'    && first with attr 'text'
    get attr 'text'`,
  textOld: `
    all with tag 'title'
    get first
    get attr 'childs'
    first with attr 'text'
    get attr 'text'`,
  link: `
    all with tag 'a'
    get attr 'href'`
}


!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! COLOCAR NO HTML PARSE!!!!!!!!!!!!!!
HASH DE IDENTIFICACAO DO OBJETO HTML
FUNCAO QUE VALIDA FORMATO DO OBJETO HTML PARA USO EXTERNO
